<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
 <h1>Индекс</h1>
    <form method="POST" action="/v1/car/tax/calc">
        <label for="city_id">Номер региона:</label>
        <input type="text" id="city_id" name="name"><br><br>
        <label for="production_year">Год производства автомобиля:</label>
        <input type="text" id="production_year"><br><br>
        <label for="hp_car">Количество лошадиных сил в автомобиле:</label>
        <input type="text" id="hp_car"><br><br>
        <input type="submit" value="Рассчитать налог">
    </form>
</body>
</html>